@{
    ViewBag.Title = "How It Works";
}
<style>
    .howitworks li { font-size:16px !important; margin-bottom:10px;}
</style>
<!-- home-main-area-start -->
<div class="home-main-area mt-30">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>@ViewBag.Title.</h1>
                <ol class="howitworks">
                    <li>You list your book(s) title data on RightsDrive and provide a sample of your work that is available for download (don’t worry, we watermark your PDFs for you).</li>
                    <li>You choose the languages in which you are interested in selling rights (as well as letting us know all languages, if any, you’ve already licensed your rights).</li>
                    <li>We then create a page for your book on RightsDrive, optimized so that potential rights buyers can easily discover your book online.</li>
                    <li>We provide an easy way for rights buyers to contact you. If you are offered a contract for your book’s translation rights, you can either negotiate it on your own or have our parent company, DropCap Rights Agency, do it for you (DropCap’s standard 20% commission applies on any advances and royalties negotiated and collected on your behalf).</li>
                    <li>Plus, we make your book searchable for the 1,000+ rights buyers who use DropCap to license foreign language rights from DropCap’s publisher clients.</li>
                </ol>
                <p>
                    <b>Notes:</b><br />

                    At this time, we are only provideing services through selected self-publishing companies. Each company sets their own fees for our service. Please contact us to find out if we work with your publisher now and/or to be informed when we open our service up to authors individually. (Link to a “page where they provide info and a dropdown list of self-pub companies).
                </p>
            </div>
            <div class="col-4" style="text-align:center;">                
                <img src="~/Content/images/howworks.jpg" />
            </div>
        </div>
    </div>
</div>
<!-- home-main-area-end -->

@section Scripts {
    <script>

        $(document).ready(function () {
            $("#HowNav").addClass("active");

            // ON DOCUMENT.READY PAGE LOAD
            pageLoad();

        });

        function pageLoad() {
        }
    </script>
}